/* ==========================================================================
   GENERAL
   ========================================================================== */

* {
  font-weight: lighter;
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #00BCD4;
  text-decoration: none;
}

.blue {
  color: #00BCD4;
}

.bold {
  font-weight: bold;
}


/* ==========================================================================
   HEADER
   ========================================================================== */

header {
  color: #FFFFFF;
  background-color: #00BCD4;
  text-align: center;
  padding-top: 15vh;
}

header > .title {
  margin-top: 35px;
  margin-bottom: 0;
}

header > .slogan {
  opacity: 0.6;
}

header > .control {
  margin: 30px;
}

header > .control > a {
  display: inline-block;
  font-size: 1.2em;
  transition: all 0.3s ease-out 0s;
  padding: 5px 0;
  width: 160px;
}

header > .control > .btn-gs {
  border: 2px solid #FFFFFF;
  background: #FFFFFF;
  color: #00BCD4;
}

header > .control > .btn-demo {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  margin-left: 10px;
}

header > .control > .btn-gs:hover {
  color: #FFFFFF;
}

header > .control > a:hover {
  background: rgba(0, 0, 0, 0.1);
}

header > .ribbon > img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
}

header > .twitter-share-button {
  position: absolute !important;
  top: 15px;
  left: 20px;
}


/* ==========================================================================
   MAIN
   ========================================================================== */

.main {
  flex: 1;
  text-align: center;
  margin: 0 55px;
}

.main h1 {
  color: #666666;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
}

.divider {
  border-bottom: 1px solid #EEE;
  width: 20%;
  margin: 15px auto;
}

.main > .rf > .description {
  text-align: justify;
  text-indent: 50px;
}

.main > .rf > img {
  width: 70%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main > .why {
  margin: 30px -55px 0 -55px;
  padding-top: 20px;
  padding-bottom: 50px;
  background: #F8F8F8;
}

.main > .why > .reason {
  display: flex;
  padding: 40px;
}

.main > .why > .reason > * {
  flex: 1;
}

.main > .why > .reason > * .description {
  padding: 0 20%;
}

.main > .why > .reason .fa {
  background: #00BCD4;
  border-radius: 100px;
  padding: 30px;
  font-size: 3em;
  color: #FFFFFF;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main > .why > .reason .title {
  font-weight: bold;
  padding-top: 10px;
}

.main > .why > .control > .btn-gs {
  display: inline-block;
  font-size: 1.2em;
  transition: all 0.3s ease-out 0s;
  padding: 5px 0;
  width: 160px;
  border: 2px solid #FFFFFF;
  background: #FFFFFF;
  color: #00BCD4;
}

.main > .why > .control > .btn-gs:hover {
  background: #00BCD4;
  color: #FFFFFF;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
  background-color: #333;
  text-align: center;
  padding: 30px 16px;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


/* ==========================================================================
   MISC
   ========================================================================== */


/* ==========================================================================
   MEDIA
   ========================================================================== */


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  .main > .rf > img {
    width: 90%;
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .main > .rf > img {
    width: 100%;
  }
  .main > .why > .reason {
    flex-direction: column;
  }
  .main > .why > .reason > *:not(:last-child) {
    margin-bottom: 40px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  header > .control > a {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  header > .control > .btn-gs {
    margin-bottom: 10px;
  }
  header > .control > .btn-demo {
    margin-left: auto;
  }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

