.card {
  margin: auto;
  width: 250px;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% !important;
}

.name {
  padding: 0;
  text-align: center;
}

.description {
  padding-bottom: 30px;
  padding-top: 0;
  text-align: center;
}
