@import '../variables.scss';

.root {
  background-color: $black-light !important;
  justify-content: center !important;
  padding: 30px 16px !important;

  a {
    color: $white;
    text-decoration: none;
  }
}
