/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #FFFFFF;
$black: #333333;
$gray: #E3E3E3;
$blue: #00BCD4;
$black-light: #2B2D2E;

